.titulo__agricultura-de-precisao{
    background-color: var(--marrom);
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: 20px ;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
}

.dois__cards{
    display: flex;
}

.card__agricultura-de-precisao{
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    margin: 1em;
    width: 50%;
}

.texto__card{
    font-family: var(--fonte-principal);
    color: var(--preto);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 1 auto;
    padding-top: 1em;
}

.titulo__card{
    color: var(--marrom);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}   

.p__card{
    padding: 1em 0.5em 1em 0.5em ;
}

@media screen and (min-width:1024px){

    .titulo__agricultura-de-precisao{
        font-size:  36px;
    }

    .dois__cards{
        display: flex;
    }


    .texto__card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 1.5em 1em 1.5em;
        font-size: 22px;

    }

    .titulo__card{
        font-size: 28px ;
    }


}

@media screen and (min-width:1728px){

    .agricultura-de-precisao{
        margin: 1em 0;
    }

    .titulo__agricultura-de-precisao{
        font-size: 50px;
    }

    .dois__cards{
        height: 450px;
    }

    .titulo__card{
        font-size: 46px;
    }

    .p__card{
        font-size: 36px;
    }

}
