.carrossel__titulo{
    background-color: var(--marrom);
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: 20px ;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;

}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.card__carrossel{
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    padding-right: 1em;
    margin: 1.5em;
}

.card__conteudo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-family: var(--fonte-principal);
}

.card__texto{
    padding: 1em;
}

.card__titulo{
    color: var(--marrom);
    font-weight: 700;
    font-size: 20px;
}

.card__paragrafo{
    color: var(--preto);
    font-weight: 400;
    font-size: 14px;
    padding-top: .5em;
}

.card__imagem{
    width: 100px;
    height: 174px;
}

@media screen and (min-width:1024px){

    .carrossel{
        margin-bottom: 1.5em;
    }

    .carrossel__titulo{
        font-size: 36px ;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 60%;
        margin-bottom: 1em ;
    }

    .card__carrossel{
        width: 50%;
        margin: 0 auto;
    }

    .card__texto{
        padding-right: 2em;
    }

    .card__titulo{
        font-size: 28px;
        padding-top: 1.5em;
    }

    .card__paragrafo{
        font-size: 24px;
    }

    .card__imagem{
        width: 190px;
        height: 282px;
        padding: 1em 0.7em 1em 0;
    }

}

@media screen and (min-width:1728px){

    .carrossel__titulo{
        font-size: 50px;
    }

    .card__titulo{
        font-size: 32px;
    }

    .swiper{
        width: 60%;
    }

    .container__carrossel{
        display: flex;
        align-items: center;
        margin: 1em 0;
        padding: 1em;
    }

    .swiper-pagination{
        margin: 1em 0;
    }

    .card__carrossel{
        width: 40%;
        margin-left: 3em;
    }

    .card__paragrafo{
        font-size: 28px;    
    }

    .card__imagem{
        width: 269px;
        height: 401px;
        padding: 1em 0.7em 1em 0;
    }

}