.titulo__sustentabilidade-na-agricultura{
    background-color: var(--marrom);
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-size: 20px ;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
}

.card{
    background-color: var(--branco); 
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25); 
    border-radius: 20px; 
    margin: 1em; 
    font-family: var(--fonte-principal);
}

.card__sustentabilidade-conteudo{
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0.7em 0.7em;
}

.card-sustentabilidade__titulo{
    color: var(--marrom);
    font-size: 18px;
    font-weight: 700;
    padding-top: 0.7em;
    margin-right: 0.5em;

}

.paragrafo__card{
    color: var(--preto);
    font-size: 14px;
    font-weight: 400;
    margin-right: 0.3em;
}

.card__trator{
    width: 40%;
}

.card__drone{
    width: 40%;
}

.botao__conteudo{
    display: flex;
    margin-bottom: 1.5em;
}

.botao__card{
    background-color: var(--amarelo);
    padding: 0.5em;
    width: 90%;
    margin: 0.5em auto;
   
}

.botao__link{
    color: var(--preto);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.botao__card:hover{
    background-color: var(--azul-claro);
}

.botao__link:hover{
    color: var(--amarelo);
    font-size: 32px;
    font-weight: 700;
}


@media screen and (min-width:1024px){

    .titulo__sustentabilidade-na-agricultura{
        font-size: 36px;
    }

    .cards{
        display: flex;
    }

    .card{     
        width: 50%;
    }

    .card-sustentabilidade__titulo{
        font-size: 28px;
    }

    .paragrafo__card{
        font-size: 22px;
    }

    .card__trator{
        width: 200px;
    }

    .card__drone{
        width: 150px;
    }

    .botao__link{
        font-size: 24px;
    }

}

@media screen and (min-width:1728px){

    .sustentabilidade-na-agricultura{
        margin: 1em 0;
    }

    .titulo__sustentabilidade-na-agricultura{
        font-size: 50px;
    }

    .card-sustentabilidade__titulo{
        font-size: 46px;
    }

    .paragrafo__card{
        font-size: 36px;
    }

    .card__trator{
        width: 350px;
    }

    .card__drone{
        width: 250px;
    }

    .botao__link{
        font-size: 32px;
    }

}